.wrapper-footer {
  background-color: #f2f2f2;
  margin: 0 auto;
  overflow: hidden;
  min-width: 1060px;
}

.container-footer {
  padding-top: 53px;
  padding-bottom: 38px;
  margin: 0 auto;
  max-width: 1189px;
}

.container-footer h2 {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.list-icon {
  display: inline-flex;
  float: right;
  gap: 21px;
}

.list-icon > li > a > img {
  width: 24px;
  height: 24px;
}

.container-footer hr {
  margin-top: 42px;
  margin-bottom: 36px;
  width: 1189px;
}

.container-footer > .list-companyinfo {
  float: left;
}

.container-footer > span {
  float: right;
}

.list-companyinfo > li,
.list-companyinfo dt,
.list-companyinfo dd {
  display: inline-block;
}

.list-companyinfo > li > dl::after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 16px;
  border-right: 1px solid #4f4f4f;
  vertical-align: top;
  margin-top: -2px;
  margin-left: 8px;
  margin-right: 8px;
}
